.map {
    height: 150px;
    width: 70%;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
}

.post-wrapper {
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    margin-top: 12px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1rem;
}

h3 {
    font-size: .5rem;
}

p {
    font-size: .4rem;
}