.map {
    height: 300px;
    width: min(70%, 600px);
    margin: auto;
    padding: 10px;
    border-radius: 5px;
}

.post-wrapper {
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    margin-top: 60px;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
}